In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import NMF, TruncatedSVD

In [3]:
import json

In [14]:
file = '/Users/gkhanna/Downloads/reviews_Electronics_5.json'

In [15]:

df_reviews = pd.read_json(file, orient='records', lines='True')

In [16]:
df_reviews.head()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0528881469,"[0, 0]",5,We got this GPS for my husband who is an (OTR)...,"06 2, 2013",AO94DHGC771SJ,amazdnu,Gotta have GPS!,1370131200
1,0528881469,"[12, 15]",1,"I'm a professional OTR truck driver, and I bou...","11 25, 2010",AMO214LNFCEI4,Amazon Customer,Very Disappointed,1290643200
2,0528881469,"[43, 45]",3,"Well, what can I say. I've had this unit in m...","09 9, 2010",A3N7T0DY83Y4IG,C. A. Freeman,1st impression,1283990400
3,0528881469,"[9, 10]",2,"Not going to write a long review, even thought...","11 24, 2010",A1H8PY3QHMQQA0,"Dave M. Shaw ""mack dave""","Great grafics, POOR GPS",1290556800
4,0528881469,"[0, 0]",1,I've had mine for a year and here's what we go...,"09 29, 2011",A24EV6RXELQZ63,Wayne Smith,"Major issues, only excuses for support",1317254400

In [9]:
df_reviews.shape

(278677, 9)

In [10]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278677 entries, 0 to 278676
Data columns (total 9 columns):
asin              278677 non-null object
helpful           278677 non-null object
overall           278677 non-null int64
reviewText        278677 non-null object
reviewTime        278677 non-null object
reviewerID        278677 non-null object
reviewerName      278225 non-null object
summary           278677 non-null object
unixReviewTime    278677 non-null int64
dtypes: int64(2), object(7)
memory usage: 19.1+ MB

In [11]:
df_reviews.columns

Index(['asin', 'helpful', 'overall', 'reviewText', 'reviewTime', 'reviewerID',
       'reviewerName', 'summary', 'unixReviewTime'],
      dtype='object')

In [12]:
df_reviews.describe()

             overall  unixReviewTime
count  278677.000000    2.786770e+05
mean        4.245133    1.374197e+09
std         1.103747    2.904510e+07
min         1.000000    1.048896e+09
25%         4.000000    1.362787e+09
50%         5.000000    1.382141e+09
75%         5.000000    1.393200e+09
max         5.000000    1.406074e+09

In [13]:
df_reviews.to_pickle('clothing_df.pkl')