In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import NMF, TruncatedSVD

In [2]:
import json

In [3]:
file = '/Users/gkhanna/Downloads/reviews_Home_and_Kitchen_5.json'

In [4]:

df_reviews = pd.read_json(file, orient='records', lines='True')

In [6]:
df_reviews.head()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0615391206,"[0, 0]",5,My daughter wanted this book and the price on ...,"10 19, 2013",APYOBQE6M18AA,Martin Schwartz,Best Price,1382140800
1,0615391206,"[0, 0]",5,I bought this zoku quick pop for my daughterr ...,"06 18, 2014",A1JVQTAGHYOL7F,Michelle Dinh,zoku,1403049600
2,0615391206,"[26, 27]",4,There is no shortage of pop recipes available ...,"05 5, 2013",A3UPYGJKZ0XTU4,mirasreviews,"Excels at Sweet Dessert Pops, but Falls Short ...",1367712000
3,0615391206,"[14, 18]",5,This book is a must have if you get a Zoku (wh...,"08 4, 2011",A2MHCTX43MIMDZ,"M. Johnson ""Tea Lover""",Creative Combos,1312416000
4,0615391206,"[0, 0]",4,This cookbook is great. I have really enjoyed...,"06 7, 2014",AHAI85T5C2DH3,PugLover,A must own if you own the Zoku maker...,1402099200

In [7]:
df_reviews.shape

(551682, 9)

In [8]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551682 entries, 0 to 551681
Data columns (total 9 columns):
asin              551682 non-null object
helpful           551682 non-null object
overall           551682 non-null int64
reviewText        551682 non-null object
reviewTime        551682 non-null object
reviewerID        551682 non-null object
reviewerName      546729 non-null object
summary           551682 non-null object
unixReviewTime    551682 non-null int64
dtypes: int64(2), object(7)
memory usage: 37.9+ MB

In [9]:
df_reviews.columns

Index(['asin', 'helpful', 'overall', 'reviewText', 'reviewTime', 'reviewerID',
       'reviewerName', 'summary', 'unixReviewTime'],
      dtype='object')

In [10]:
df_reviews.describe()

             overall  unixReviewTime
count  551682.000000    5.516820e+05
mean        4.316655    1.348687e+09
std         1.110749    6.120238e+07
min         1.000000    9.572256e+08
25%         4.000000    1.331770e+09
50%         5.000000    1.367626e+09
75%         5.000000    1.388880e+09
max         5.000000    1.406074e+09

In [11]:
df_reviews.to_pickle('home_df.pkl')